*{margin: 0;
  padding: 0;
box-sizing: border-box;
font-family: sans-serif;}

 
     
body{background-color: #ededed;}


.principal{max-width: 100%;
           min-height: 600px;
           margin: 1%;
           background: rgb(150, 150, 150);
          position: relative;
          border: 2px solid rgb(0, 0, 0);
        }

.heladera{width: 15%;
   height: 3%;
   background: rgb(206, 206, 206);
   margin-left: 10%;
  margin-top: 1%;
  padding: 2%;
 position: absolute;
 border-radius: 8%;
 border: 2px solid rgb(0, 0, 0);
 
 }

.fondo{width: 20%;
       height: 3%;
       background: rgb(206, 206, 206);
       margin-left: 30%;
      margin-top: 1%;
      position: absolute;
      border-radius: 8%;
      border: 2px solid rgb(0, 0, 0);
     }

.banio{width: 30%;
   height: 3%;
   background: rgb(206, 206, 206);
   margin-left: 60%;
   margin-top: 1%;
   position: absolute;
   border-radius: 8%;
   border: 2px solid rgb(0, 0, 0);
   }

.taller{width: 40%;
        height: 12%;
        background: rgb(204, 204, 204);
        margin-left: 12%;
        margin-top: 10%;
        position: absolute;
        border-radius: 8%;
        border: 2px solid rgb(0, 0, 0);
       }

.estanteriaDerecha{width: 6%;
                   height: 84%;
                   background: rgb(218, 218, 218);
                   margin-left: 90%;
                   margin-top: 8%;
                   position: absolute;
                   border-radius: 2%;
                   border: 2px solid rgb(0, 0, 0);
                  }

.estanteriaDerecha2{width: 6%;
                  height: 6%;
                  background: rgb(218, 218, 218);
                  margin-left: 90%;
                  margin-top: 138%;
                  position: absolute;
                  border-radius: 2%;
                  border: 2px solid rgb(0, 0, 0);
                  }








.mesa{width: 55%;
  height: 55%;
  background: rgb(218, 218, 218);
  margin-left: 12%;
   margin-top: 35%;
   position: absolute;
   border-radius: 2%;
   border: 2px solid rgb(0, 0, 0);
  }

  .estanteriaIzquierda{width: 6%;
    height: 92%;
    background: rgb(218, 218, 218);
    margin-left: 2%;
    margin-top: 8%;
    position: absolute;
    border-radius: 2%;
    border: 2px solid rgb(0, 0, 0);
   }

   .estanteriaOficina1{width: 60%;
    height: 4%;
    background: rgb(209, 209, 209);
    margin-left: 12%;
    margin-top: 130%;
    position: absolute;
    border-radius: 2%;
    border: 2px solid rgb(0, 0, 0);
   }

   .estanteriaOficina2{width: 60%;
    height: 4%;
    background: rgb(209, 209, 209);
    margin-left: 12%;
    margin-top: 140%;
    position: absolute;
    border-radius: 2%;
    border: 2px solid rgb(0, 0, 0);
   }
  
   .mesaPrincipalDerecha1 {width: 20%;
    height: 20%;
    background: rgb(184, 184, 184);
    margin-left: 78%;
    margin-top: 40%;
    position: absolute;
    border-radius: 2%;
    border: 2px solid rgb(0, 0, 0);
     
   }
   .mesaPrincipalDerecha2 {width: 20%;
    height: 20%;
    background: rgb(184, 184, 184);
    margin-left: 78%;
    margin-top: 75%;
    position: absolute;
    border-radius: 2%;
    border: 2px solid rgb(0, 0, 0);
   }

   .mesaPrincipalDerecha3 {width: 20%;
    height: 20%;
    background: rgb(184, 184, 184);
    margin-left: 78%;
    margin-top: 110%;
    position: absolute;
    border-radius: 2%;
    border: 2px solid rgb(0, 0, 0);
   }
 
 .mesaPrincipalIzquierda1 {width: 20%;
    height: 20%;
    background: rgb(184, 184, 184);
    margin-left: 2%;
    margin-top: 40%;
    position: absolute;
    border-radius: 2%;
    border: 2px solid rgb(0, 0, 0);
     
   }
   .mesaPrincipalIzquierda2 {width: 20%;
    height: 20%;
    background: rgb(184, 184, 184);
    margin-left: 2%;
    margin-top: 75%;
    position: absolute;
    border-radius: 2%;
    border: 2px solid rgb(0, 0, 0);
   }

   .mesaPrincipalIzquierda3 {width: 20%;
    height: 20%;
    background: rgb(184, 184, 184);
    margin-left: 2%;
    margin-top: 110%;
    position: absolute;
    border-radius: 2%;
    border: 2px solid rgb(0, 0, 0);
   }
 
.fuente{font-size: 0px;
      width: 10px;
      height:10px;
    }

.coloresArticulos {width: 15px;
                  height: 15px;
                  margin: 70% 30%;
                  border-radius: 50%;
                  }

.coloresArticulos10 {width: 15px;
height: 15px;
margin: 50% 15%;
border-radius: 50%;
}

.coloresArticulos11 {width: 15px;
height: 15px;
margin: 360% 15%;
border-radius: 50%;
}
.coloresArticulos12 {width: 15px;
height: 15px;
margin: 360% 15%;
border-radius: 50%;
}
.coloresArticulos13 {width: 15px;
height: 15px;
margin: 360% 15%;
border-radius: 50%;
}
.coloresArticulos14 {width: 15px;
height: 15px;
margin: 360% 15%;
border-radius: 50%;
}
.coloresArticulos15 {width: 15px;
height: 15px;
margin: 360% 15%;
border-radius: 50%;
}

.coloresArticulos16 {width: 15px;
  height: 15px;
  margin: 360% 15%;
  border-radius: 50%;
  
  }

  .coloresArticulos100{width: 15px;
      height: 15px;
      margin: 100% 15%;
      border-radius: 50%;
      
      }
      .coloresArticulos110{width: 15px;
          height: 15px;
          margin: 300% 15%;
          border-radius: 50%;
          
          }
          .coloresArticulos120{width: 15px;
              height: 15px;
              margin: 300% 15%;
              border-radius: 50%;
              
              }
              .coloresArticulos130{width: 15px;
                  height: 15px;
                  margin: 300% 15%;
                  border-radius: 50%;
                  
                  }
                  .coloresArticulos140{width: 15px;
                      height: 15px;
                      margin: 300% 15%;
                      border-radius: 50%;
                      
                      }
                      .coloresArticulos150{width: 15px;
                          height: 15px;
                          margin: 300% 15%;
                          border-radius: 50%;
                          
                          }
                          .coloresArticulos160{width: 15px;
                              height: 15px;
                              margin: 300% 15%;
                              border-radius: 50%;
                              
                              }
  



.coloresArticulos17 {width: 15px;
  height: 15px;
  margin: 35% 15%;
  border-radius: 50%;
      
      }

.coloresArticulos20{width: 15px;
height: 15px;
margin: -1% 40%;
border-radius: 50%;}

.coloresArticulosEstOf1_1{width: 15px;
height: 15px;
margin: 1% 20%;
border-radius: 50%;}

.coloresArticulosEstOf1_2{width: 15px;
height: 15px;
margin: -7% 70%;
border-radius: 50%;}

.coloresArticulosEstOf2_2{width: 15px;
  height: 15px;
  margin: -7% 70%;
  border-radius: 50%;}



.divisionesDeEstanterias {width: 100%;
                          height: 50%;
                          margin-bottom:1px;
                          border: 1px solid rgb(90, 90, 90);}


/*       */
@media screen and (max-width:400px){
  .principal{max-width: 100%;
             min-height: 600px;
             margin: 10px;
             background: rgb(150, 150, 150);
            position: relative;
          }
        
          .estanteriaDerecha2{width: 6%;
            height: 6%;
            background: rgb(218, 218, 218);
            margin-left: 90%;
            margin-top: 145%;
            position: absolute;
            border-radius: 2%;
            border: 2px solid rgb(0, 0, 0);
            }
        
            .estanteriaOficina1{width: 60%;
              height: 4%;
              background: rgb(209, 209, 209);
              margin-left: 12%;
              margin-top: 138%;
              position: absolute;
              border-radius: 2%;
              border: 2px solid rgb(0, 0, 0);
             }
          
             .estanteriaOficina2{width: 60%;
              height: 4%;
              background: rgb(209, 209, 209);
              margin-left: 12%;
              margin-top: 148%;
              position: absolute;
              border-radius: 2%;
              border: 2px solid rgb(0, 0, 0);
             }
        
             .mesa{width: 55%;
              height: 58%;
              background: rgb(218, 218, 218);
              margin-left: 12%;
               margin-top: 35%;
               position: absolute;
               border-radius: 2%;
               border: 2px solid rgb(0, 0, 0);
              }
            }


@media screen and (max-width:390px){
  .principal{max-width: 100%;
             min-height: 600px;
             margin: 10px;
             background: rgb(150, 150, 150);
            position: relative;
          }
        
          .estanteriaDerecha2{width: 6%;
            height: 6%;
            background: rgb(218, 218, 218);
            margin-left: 90%;
            margin-top: 150%;
            position: absolute;
            border-radius: 2%;
            border: 2px solid rgb(0, 0, 0);
            }
        
            .estanteriaOficina1{width: 60%;
              height: 4%;
              background: rgb(209, 209, 209);
              margin-left: 12%;
              margin-top: 140%;
              position: absolute;
              border-radius: 2%;
              border: 2px solid rgb(0, 0, 0);
             }
          
             .estanteriaOficina2{width: 60%;
              height: 4%;
              background: rgb(209, 209, 209);
              margin-left: 12%;
              margin-top: 150%;
              position: absolute;
              border-radius: 2%;
              border: 2px solid rgb(0, 0, 0);
             }
        
             .mesa{width: 55%;
              height: 60%;
              background: rgb(218, 218, 218);
              margin-left: 12%;
               margin-top: 35%;
               position: absolute;
               border-radius: 2%;
               border: 2px solid rgb(0, 0, 0);
              }
        
        
        }

        @media screen and (max-width:380px){
          .principal{max-width: 100%;
                     min-height: 600px;
                     margin: 10px;
                     background: rgb(150, 150, 150);
                    position: relative;
                  }
                
                  .estanteriaDerecha2{width: 6%;
                    height: 6%;
                    background: rgb(218, 218, 218);
                    margin-left: 90%;
                    margin-top: 152%;
                    position: absolute;
                    border-radius: 2%;
                    border: 2px solid rgb(0, 0, 0);
                    }
                
                    .estanteriaOficina1{width: 60%;
                      height: 4%;
                      background: rgb(209, 209, 209);
                      margin-left: 12%;
                      margin-top: 145%;
                      position: absolute;
                      border-radius: 2%;
                      border: 2px solid rgb(0, 0, 0);
                     }
                  
                     .estanteriaOficina2{width: 60%;
                      height: 4%;
                      background: rgb(209, 209, 209);
                      margin-left: 12%;
                      margin-top: 155%;
                      position: absolute;
                      border-radius: 2%;
                      border: 2px solid rgb(0, 0, 0);
                     }
                    }



                     @media screen and (max-width:370px){
                      .principal{max-width: 100%;
                                 min-height: 600px;
                                 margin: 10px;
                                 background: rgb(150, 150, 150);
                                position: relative;
                              }
                            
                              .estanteriaDerecha2{width: 6%;
                                height: 6%;
                                background: rgb(218, 218, 218);
                                margin-left: 90%;
                                margin-top: 157%;
                                position: absolute;
                                border-radius: 2%;
                                border: 2px solid rgb(0, 0, 0);
                                }
                            
                                .estanteriaOficina1{width: 60%;
                                  height: 4%;
                                  background: rgb(209, 209, 209);
                                  margin-left: 12%;
                                  margin-top: 150%;
                                  position: absolute;
                                  border-radius: 2%;
                                  border: 2px solid rgb(0, 0, 0);
                                 }
                              
                                 .estanteriaOficina2{width: 60%;
                                  height: 4%;
                                  background: rgb(209, 209, 209);
                                  margin-left: 12%;
                                  margin-top: 160%;
                                  position: absolute;
                                  border-radius: 2%;
                                  border: 2px solid rgb(0, 0, 0);
                                 }

                     
                
                
                
                
                }




 /*  @media screen and (max-width:1360px){
   .principal{max-width: 100%;
              min-height: 650px;
              margin: 10px;
              background: rgb(150, 150, 150);
             position: relative;
           }
   
   .heladera{width: 15%;
      height: 3%;
      background: rgb(87, 43, 43);
      margin-left: 10%;
     margin-top: 10px;
    position: absolute;
    border-radius: 8%;
    }
   
   .fondo{width: 20%;
          height: 3%;
          background: black;
          margin-left: 30%;
         margin-top: 10px;
         position: absolute;
         border-radius: 8%;
        }
   
   .banio{width: 30%;
      height: 3%;
      background: rgb(145, 34, 95);
      margin-left: 60%;
      margin-top: 10px;
      position: absolute;
      border-radius: 8%;
      }
   
   .taller{width: 40%;
           height: 12%;
           background: rgb(187, 103, 103);
           margin-left: 12%;
           margin-top: 55px;
           position: absolute;
           border-radius: 8%;
          }
   
   .estanteriaDerecha{width: 6%;
                      height: 90%;
                      background: rgb(33, 228, 163);
                      margin-left: 90%;
                      margin-top: 45px;
                      position: absolute;
                      border-radius: 2%;
                     }
   
   .mesa{width: 55%;
     height: 60%;
     background: rgb(33, 228, 163);
     margin-left: 12%;
      margin-top: 150px;
      position: absolute;
      border-radius: 2%;
     }
   
     .estanteriaIzquierda{width: 6%;
       height: 90%;
       background: rgb(33, 228, 163);
       margin-left: 2%;
       margin-top: 45px;
       position: absolute;
       border-radius: 2%;
      }
   
      .estanteriaOficina1{width: 60%;
       height: 4%;
       background: rgb(33, 228, 163);
       margin-left: 12%;
       margin-top: 560px;
       position: absolute;
       border-radius: 2%;
      }
   
      .estanteriaOficina2{width: 60%;
       height: 4%;
       background: rgb(33, 228, 163);
       margin-left: 12%;
       margin-top: 602px;
       position: absolute;
       border-radius: 2%;
      }
     
      .mesaPrincipalDerecha1 {width: 20%;
       height: 20%;
       background: rgb(33, 53, 228);
       margin-left: 78%;
       margin-top: 40%;
       position: absolute;
       border-radius: 2%;
      }
      .mesaPrincipalDerecha2 {width: 20%;
       height: 20%;
       background: rgb(228, 33, 59);
       margin-left: 78%;
       margin-top: 75%;
       position: absolute;
       border-radius: 2%;
      }
   
      .mesaPrincipalDerecha3 {width: 20%;
       height: 20%;
       background: rgb(225, 228, 33);
       margin-left: 78%;
       margin-top: 110%;
       position: absolute;
       border-radius: 2%;
      }
    }*/